@font-face {font-family: 'webfont';
  src: url('//at.alicdn.com/t/1e5nn5wpy51giudi.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/1e5nn5wpy51giudi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/1e5nn5wpy51giudi.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/1e5nn5wpy51giudi.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/1e5nn5wpy51giudi.svg#思源黑体-极细') format('svg'); /* iOS 4.1- */
}
.onlyread{
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}
.body_bg{
  width: 100vw;
  height:100vh;
  background: url("../../images/login_bg.jpg");
  background-size: cover;
}
.wrap_div{
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top:0;
  right: 0;
  bottom:0;
  left:0;
}
.wrap_div .content{
  width:400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content >div{
  width: 300px;
  height: 40px;
  border: 1px solid white;
  border-radius: 14px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.content >div:nth-last-child(2){
  margin-top: 30px;
  overflow: hidden;
}
button#login{
  width: 100%;
  height:100%;
  background: #FFFFFF;
  border: none;
  color: #3582bb;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: bold;
}
button#login:hover{
  background: #3582bb;
  color: #FFFFFF;
}
.content >div:nth-last-child(1){
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6px;
}
.content .userName_bg,.content .password_bg{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  margin-left: 15px;
}
.content .userName_bg{
  background: url("../../images/user.png");
}
.content .password_bg{
  background: url("../../images/password.png");
}
.content .userName,.content .password{
  width:240px;
  height: 30px;
  font-size: 1.2em;
  background: transparent;
  border: none;
  color: #FFFFFF;
}
.content #userName:focus,.content #password:focus{
  outline: none;
}
.content .forget,.content .register{
  font-size: 1.1em;
  color: #FFFFFF;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}
.content .forget:hover,.content .register:hover{
  color: #3582bb;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #d2dadd;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #d2dadd;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #d2dadd;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #d2dadd;
}



