@font-face {font-family: 'webfont';
    src: url('//at.alicdn.com/t/1e5nn5wpy51giudi.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/1e5nn5wpy51giudi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/1e5nn5wpy51giudi.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/1e5nn5wpy51giudi.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/1e5nn5wpy51giudi.svg#思源黑体-极细') format('svg'); /* iOS 4.1- */
}
.onlyread{
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
}
.body_bg{
    width: 100vw;
    height:100vh;
    background: url("../../images/bg_1.jpg");
    background-size: cover;
    overflow: hidden;
}
.banner{
    position: relative;
}
.wrap_div{
    width:100%;
    height: 100%;
    position: relative;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
#search,#record{
    width:150px;
    height:40px;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
}
#search:hover,#record:hover{
    opacity: 0.5;
}
#search{
    background: #1368ac;
    top: 30%;
}
#record{
    background: #41b15a;
    top: 30%;
}
.loginOut{
    position: absolute;
    left:3%;
    top:1%;
    z-index: 10;
}
#changeBg{
    position: absolute;
    right:3%;
    top:1%;
    z-index: 10;
}
#changeBg button{
    width: 50px;
    height: 25px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}
#changeBg button:focus{
    outline: none;
}
.searchOut{
    right:-10%;
    opacity: 0;
    transition: all .8s;
}
.searchIn{
    right: 30%;
    opacity: 1;
    transition: all .8s;
}
.recordOut{
    left:-10%;
    opacity: 0;
    transition: all .8s;
}
.recordIn{
    left:30%;
    opacity:1;
    transition: all .8s;
}
#search_table,#record_table{
    position: absolute;
    width:1000px;
    height: 600px;
    left:calc((100vw - 1000px)/2);
    top:calc((100vh - 600px)/2);
    border: 1px solid #999999;
    z-index: 100;
    display: none;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
}
.back{
    border-bottom: 1px solid #ccc;
    color: #666;
    height: 33px;
    line-height: 33px;
    box-shadow: 0 1px 11px #4a4a4a
}
.search_area{
    padding: 20px 0;
    border-bottom: 1px solid red;
    box-shadow: 0 1px 10px -2px red;
}
.search_area > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}
.search_area > div >div{
    margin-left:34px;
}
#addInfo tr th,#addInfo tr td{
    border:1px solid #cccccc;
    border-collapse: collapse;
}
#addInfo thead{
    /*padding:5px 0;*/
    background: #699ef3;
}
#addInfo input{
    border:none;
    outline: none;
}
#saveBtn{
    margin-top: 5px;
    width: 60px;
    height: 24px;
    background: #e84b4b;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}
#saveBtn:hover{
    background: #699ef3;
}
.info td input{
    text-align: center;
}
.msg{
    color: #ff0000;
}
#searchBtn{
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: #ff8c16;
    width: 60px;
    color: #fff;
}
#export{
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: #2fff1f;
    width: 60px;
    color: #fff;
}
#export:hover,#searchBtn:hover{
    opacity: 0.8;
}